<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SCRUM Timer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Timer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/participants">Participants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">settings</a>
      </li>
    </ul>
  </div>
</nav>